@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<hr />
<h1>We are just the Bank you need.</h1>
<br />
<p>This bank site is mainly developed for user account management.</p>

<h4>Thank You!</h4>
