@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<hr />
<address>
    Nadiad<br />
    <br />
    <abbr title="Phone">
        &#9742;
    </abbr>
    7698430164-Mahesh Kantariya
    <br />
    <abbr title="Phone">
        &#9742;
    </abbr>
    7698430164-Arya Kagathara
</address>

<address>
    <strong>Help & Support
    
    :</strong>   <a href="mailto:bankingsys12@gmail.com">bankingsys12@gmail.com</a>
</address>
